<!-----------Sidebar----------->
<div id="sidebar-container">
  <div class="sidebar">
    <div class="sidebar-logo">
      <img src="component/Layer 1.png" alt="Logo" style="width:20px; margin-top:8px;" />
    </div>
    <div class="sidebar-nav">
      <div style="border-bottom: 1px solid #ddd; padding-bottom: 8px;">
        <button class="sidebar-btn" data-page="home"><i class="bi bi-house-door"></i></button>
      </div>

      <button class="sidebar-btn" data-page="home"><i class="bi bi-house-door"></i></button>
      <button class="sidebar-btn" data-page="grid"><i class="bi bi-grid"></i></button>
      <button class="sidebar-btn" data-page="box"><i class="bi bi-box"></i></button>
      <div style="border-bottom: 1px solid #ddd; padding-bottom: 8px;">
        <button class="sidebar-btn" data-page="ticket"><i class="bi bi-people-fill"></i></button>
      </div>

      <button class="sidebar-btn active" data-page="customer"><i class="bi bi-ticket-detailed"></i></button>
      <button class="sidebar-btn" data-page="person-vcard"><i class="bi bi-person-vcard"></i></button>
      <button class="sidebar-btn" data-page="card-checklist"><i class="bi bi-card-checklist"></i></button>
      <button class="sidebar-btn" data-page="gear"><i class="bi bi-gear"></i></button>

      <div style="border-bottom: 1px solid #ddd; padding-bottom: 8px;">
        <button class="sidebar-btn" data-page="star"><i class="bi bi-star"></i></button>
      </div>

      <button class="sidebar-btn"><i class="bi bi-box-seam"></i></button>

    </div>
  </div>

</div>